.common {
  background-color: #F5F5F5;
  width: 60%;
  height: auto;
  /* margin: 100px 300px 100px 300px; */
  border-radius:15px;
  /* position: absolute; */
  /* right: 120px; */
  /* font-family: "Montserrat"; */
  margin: 0 auto;
}

.PhoneCommon {
  /* font-family: "Montserrat"; */
  background-color: #F5F5F5;
  width: 100%;
  height: auto;
  /* margin: 100px 300px 100px 300px; */
  border-radius:15px;
  /* position: absolute; */
  /* right: 50px; */
  margin: 0 auto;
}

.date {
  margin-bottom: 20px;
}
.date img {
  margin: 12px;
  vertical-align: middle;
  display: inline-block;
}
.date h2 {
  vertical-align: middle;
  display: inline-block;
  color: black;
  font-weight: normal;
  font-size: 25px;
  margin-right: 10px;
}
.date h3 {
  vertical-align: middle;
  display: inline-block;
  color: #efcc00;
  font-weight: bold;
  font-size: 25px;
}

.mood-common {
  display:flex;
  margin: 12px auto 40px 12px;
}

.note img {
  /* display:flex; */
  margin: 12px;
  vertical-align: middle;
  display: inline-block;
}
.note h2 {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  font-weight: normal;
  font-size: 23px;
}
.note p {
  margin: 12px;
  margin-top: 0;
  padding-bottom: 10px;
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
}

.calendar-icon {
  width: 25px;
  height: 25px;
  display:inline-block;
  vertical-align:top;
  margin: 12px;
}

.mood-icon {
  width: 25px;
  height: 25px;
  display:inline-block;
  vertical-align:top;
  margin: 12px;
}

.note-icon {
  /* width: 30px; */
  /* height: 30px; */
  /* display:inline-block; */
  /* vertical-align:top; */
  /* margin: 12px; */
}

.detail-date {
  font-size: 25px;
  font-weight: 500;
  margin-left: 0;
  display:inline-block;
  vertical-align:top;
  /* margin: 12px auto 12px 12px; */
  /* padding-right: 1100px; */
}

.detail-mood {
  font-size: 25px;
  font-weight: 500;
  /* padding-right: 90%; */
  display:inline-block;
  vertical-align:top;
  margin: 12px auto 12px 12px;
  /* padding-right: 1100px; */
}

.detail-note {
  font-size: 20px;
  font-weight: 500;
  padding-left: 1px;
  /* display:inline-block; */
  /* vertical-align:top; */
  margin: 12px 30px 12px 12px;
  /* padding-right: 120px; */
}
